<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         colors="false"
         verbose="false">
    <testsuites>
        <testsuite name="Unit">
            <directory phpVersion="5.4.0">tests/Unit</directory>
            <exclude>tests/Unit/Core/Http/AbstractMessageEntityTest.php</exclude>
            <exclude>tests/Unit/Core/Http/AbstractRequestEntityTest.php</exclude>
            <exclude>tests/Unit/Core/Http/AbstractResponseEntityTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>
